
.hero {

    justify-content: center;
    padding: 80px 0px 30px 30px;
    background-color: #f5f5f5;
}

.watch-image img {
    width: 70%;
    border-radius: 5px;
}

.watch-details {
    width: 40%;
    padding: 20px;
}

.watch-details h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.watch-details p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features li {
    margin-bottom: 5px;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-weight: bold;
}

.watch-details a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}



.watch-products-section {
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 10px 30px;
    border-radius: 15px;
    
}

.watch-products-section h2 {
    font-size: 24px;
    text-decoration: overline underline;
}

.watch-products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
   
}

.watch-pro{
    display: flex;
    flex: 2 1;
    gap:20px;
    justify-content: space-between;
}
.watch-product {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.watch-product img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.watch-product h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
}

.watch-product p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}


.cta-button2 {
    padding: 5px 12px;
    background-color: #333;
    color: #fff; 
    border-radius: 15px;
    text-decoration: none;
}
.cta-button2:hover{
    color: #000;
    background-color: gold;
   
}
.center{
    display: flex;
    align-items: center; 
}
